<!DOCTYPE html>
<html>
    <head>
            <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="/jquery/dist/jquery.min.js"></script>
            <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
            
            <link rel="stylesheet" href="/stylesheets/style.css"/>
            <link rel="stylesheet" href="/register.css"/>

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Website Font style -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            
            <!-- Google Fonts -->
            <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    
    </head>
<body>
<%- content %>
<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->
</body>
</html>